/* Reccettes contenedor */
.recipes_container {
  position: relative;
}

.art_categ {
  position: sticky;
  top: -0.5rem;
  left: 0;

  z-index: 2;
}

.art_categ div:nth-child(1) {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  height: 2.5rem;
}
.art_categ div:nth-child(1) h1:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  padding: 4px 8px;
  width: max-content;
  height: 1.5rem;
  border-radius: 1rem;
  color: var(--contrast-main);
  border: 1px solid var(--contrast-main);
}

/* .btn_search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0px solid rgba(0, 0, 0, 1);
}
.btn_search svg {
  height: 24px;
  width: auto;
} */

.cont_categ {
  background: linear-gradient(
    92deg,
    hsl(328, 100%, 98%) 0%,
    hsl(54, 100%, 98%) 100%
  );

  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;

  z-index: 2;
}
.cont_categ::-webkit-scrollbar {
  display: none;
}
.cont_categ li {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.06);
  padding: 0 12px;
  height: 1.5rem;
  width: max-content;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.72);
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  white-space: nowrap;

  transition: all 0.2s ease;
}
.cont_categ li:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.12);
}

.ry_div_cat {
  border-top: 1px solid var(--cl-ry);
  width: 100%;
}

/**/
/* Titre de la recettes */
.subtitle_reci {
  background-color: hsl(0, 0%, 99%);
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: rgba(0, 0, 0);
}
.cont_recipes {
  background-color: hsl(0, 0%, 99%);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;

  width: 100%;
  padding: 0.5rem;
  animation: contdes 0.35s normal ease;
}
@keyframes contdes {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.art_recipe {
  border: 1px solid var(--cl-ry);
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  height: max-content;
  border-radius: 1.5rem;
  z-index: 1;
}

.rec_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  max-height: 12rem;
  border-radius: 1rem;
  overflow: hidden;
}

.rec_img img {
  width: 100%;
  height: auto;
  min-height: 15rem;
  object-fit: cover;
}

.rating_comp {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: max-content;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 4px;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 24%, 0.5);
  backdrop-filter: blur(12px);
}
.rating_comp p {
  color: #dbdbdb;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.title_rec {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.tx_description {
  color: rgba(0, 0, 0, 0.92);
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.tx_foo {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

.ry_div {
  border-top: 1px solid var(--cl-ry);
  width: 100%;
  margin-top: 1rem;
}

.rec_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1.5rem;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  height: max-content;
}

/* Enregistre */
.btn_save {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
}
.btn_save img {
  height: 1.5rem;
  width: auto;
}

/* Bouton Plus d’informations */
.link_info_reci {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 2.5rem;
  padding: 8px 6px 8px 16px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 1rem;
}
.link_info_reci svg {
  height: 1.5rem;
  width: auto;
}

/* Responsive */
@media (min-width: 800px) {
  .art_categ {
    display: flex;
    align-items: center;
    top: 0;
    background-color: rgba(255, 255, 255, 0.86);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--cl-ry);
  }
  .art_categ div:nth-child(1) {
    height: auto;
    padding: 0;
    margin: 0 1rem;
  }
  .cont_categ {
    background: transparent;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-top: 0;
  }
  .cont_categ::-webkit-scrollbar {
    display: block;
    height: 6px;
  }
  .cont_categ::-webkit-scrollbar-thumb {
    background-color: var(--cl-ry);
    border-radius: 8px;
  }
  .cont_categ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 84%);
  }
  .ry_div_cat {
    display: none;
  }
}
