.recipe_container {
  display: flex;
  flex-direction: column;
  width: inherit;
}

/**/
.recipe_header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 0 0.5rem;
}

.cont_author {
  display: flex;
  gap: 0.5rem;
  margin: 0 0.5rem;
  height: 2.5rem;
}
.cont_author a {
  display: flex;
  align-items: center;
}
.cont_author a img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.cont_author div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.tit_recipe {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.cont_author div:nth-child(2) p {
  font-size: 13px;
  font-weight: 400;
  color: var(--contrast-mid);
}

/* ---- */
.hde_cont_img {
  display: flex;
  width: auto;
  height: max-content;
  min-height: 15rem;
  max-height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--cl-ry);
  margin: 0.5rem;
}
.hde_cont_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cont_tx_info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 0.5rem 1rem 0.5rem;
}
.cont_tx_info p {
  color: var(--contrast-main);
  font-size: 15px;
  font-weight: 400;
}

/*----*/
.cont_list_info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0 0.5rem 0 0.5rem;
  color: var(--contrast-800);
}
.cont_list_info h3 {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.cont_list_info p {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

/**/
.ry_div_hder {
  border-top: 1px solid var(--cl-ry);
  width: auto;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.ry_div {
  border-top: 1px solid var(--cl-ry);
  width: auto;
  margin: 0.5rem 1rem;
}

/* ----- ----- */
.hder_cont_btns {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
  width: auto;
  margin: 0 0.5rem 0 0.5rem;
}

/* Évaluation */
.rating_comp {
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 8px 12px;
  height: 2.5rem;
}
.rating_comp p {
  color: hsl(0, 0%, 8%);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 2px;
  margin-right: .5rem;
}
.rating_comp span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rating_comp span svg {
  height: 20px;
}

/* Enregistre */
.btn_save {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
}
.btn_save img {
  height: 1.5rem;
  width: auto;
}

/* Parteger */
.btn_share {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
}
.btn_share img {
  height: 1.5rem;
  width: auto;
}

/* ------- */

/* Ingrédients */
.cont_ingre {
  margin: 0.5rem 1rem 1rem 1rem;
}

.ingre_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: var(--contrast-main);
  margin-bottom: 0.5rem;
}

.cont_ingre ul {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid var(--cl-ry);
  border-radius: 1rem;
}
.cont_ingre ul li {
  font-size: 14px;
  font-weight: 400;
  color: var(--contrast-800);
}

/* Intructions */
.cont_instru {
  margin: 0 1rem 1rem 1rem;
}

.instru_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 0.5rem;
}

.cont_instru ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 3px dashed var(--contrast-main);
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.cont_instru ol li {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: var(--contrast-800);
  padding: 12px;
  border: 2px solid var(--cl-ry);
  border-radius: 0.25rem 0.5rem 0.5rem 0.2rem;
}
.cont_instru ol li h3 {
  position: absolute;
  top: -0.5rem;
  left: 6px;
  background-color: var(--background-main);
  padding: 0 4px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  color: var(--contrast-mid);
}

/* ---- */
.cont_imgs_desc {
  border: 1px solid red;
  display: flex;
  margin: 0 0 1rem 1rem;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.card_desc {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid var(--cl-ry);
  overflow: hidden;
}
