.foo_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  position: static;
  background-color: rgba(0, 0, 0, 0.04);
  bottom: 0;
  left: 0;
  padding: .5rem .5rem 1rem .5rem;
  width: auto;
  height: max-content;
  margin-top: auto;
}

.foo_main div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.foo_main img:nth-child(1) {
  height: 2rem;
  width: auto;
}
.foo_title {
  font-size: 16px;
}

.ry_div {
  border-top: 1px solid var(--cl-ry);
  width: 100%;
}

.foo_main p:nth-child(3) {
  width: auto;
  max-width: 20rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.72);
  font-size: 12px;
  font-weight: 400;
}

/* Responsive */
@media (min-width: 800px) {
  .foo_main {
    display: none;
  }
}
