.header_main {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.86);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  height: 2rem;
  min-height: 2rem;
  width: inherit;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--cl-ry);
  padding: 0 6px;

  z-index: 5;
}

.hder_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.1rem;
  width: max-content;
}

/**/
.cont_opt_nav_full {
  display: none;
}

/* -- Bouton d'options -- */
.cont_opt_nav {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 2rem;
}
.btn_opcs {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.btn_opcs svg:hover {
  background-color: var(--cl-ry);
  border-radius: inherit;
}

.btn_opcs svg {
  border-radius: inherit;
  width: auto;
  height: 1.5rem;
}
.btn_opcs svg path {
  fill: var(--contrast-800);
}

/* Conteneur d'options */
.navbar_cont {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  width: max-content;
  height: auto;
  background-color: rgba(255, 255, 255, 0.99);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 1rem 2px 1rem 1rem;
  border: 1px solid var(--cl-ry);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);

  animation: desnav 0.2s normal forwards ease;
}
@keyframes desnav {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.navbar_cont ul {
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.navbar_cont ul span {
  border-top: 1px solid var(--cl-ry);
  width: auto;
  margin: 0 0.5rem;
}
.navbar_cont ul span:last-child {
  display: none;
}

/* Option sélectionnée */
.navbar_opc_selected {
  background-color: var(--contrast-main);
  border-radius: 0.5rem;
}
.navbar_opc_selected a {
  pointer-events: none;
  cursor: none;
  color: var(--background-main) !important;
  font-weight: 500 !important;
}
.navbar_opc_selected a:hover {
  background-color: inherit !important;
}
.navbar_opc_selected a svg path {
  fill: var(--background-main) !important;
}

.navbar_cont ul li {
  height: auto;
}
.navbar_cont ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  height: 2rem;
  color: rgba(0, 0, 0, 0.72);
  padding: 8px 0 8px 12px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  border-radius: 0.5rem;
}
.navbar_cont ul li a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.navbar_cont ul li a svg {
  height: 2rem;
}
.navbar_cont ul li a svg path {
  fill: var(--contrast-800);
}

/**/
.header_main_res {
  display: none;
}

/* Responsive */
@media (min-width: 800px) {
  .header_main {
    display: none !important;
  }
  .header_main_res {
    border-right: 1px solid var(--cl-ry);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: max-content;
  }
  .link_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--cl-ry);
  }
  .link_h1 img {
    height: 1rem;
    width: auto;
  }
  
  .list_opts {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    padding: 0 1rem 0 1rem;
    gap: 4px;
  }

  .list_opts li {
    display: flex;
    height: auto;
    width: 100%;
  }
  .list_opts li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 6px 6px 6px 1rem;
    width: inherit;
    min-width: max-content;
    height: 2.5rem;
    --ch-hover: var(--contrast-800);
    color: var(--ch-hover);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;

    border-radius: 1rem;
    border: 1px solid var(--background-main);
    transition: all 0.2s;
  }
  .list_opts li a:hover {
    background-color: var(--cl-ry);
    --ch-hover: var(--contrast-main);
  }

  .list_opts li a svg {
    width: 2rem;
    height: 2rem;
  }
  .list_opts li a svg path {
    fill: var(--ch-hover);
  }

  /**/
  .navbar_opc_selected_res {
    cursor: default;
    border-color: var(--cl-ry) !important;
    --ch-hover: var(--contrast-main) !important;
    box-shadow: 0px 4px 8px var(--cl-ry);
  }
  .navbar_opc_selected_res:hover {
    background-color: var(--background-main) !important;
  }

  /* <<<<<<<<<<<< Footer >>>>>>>>>> */
  .hder_foo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-top: auto;
    padding: 1rem .5rem .5rem .5rem;
  }
  .hder_foo p {
    width: auto;
    max-width: 12rem;
    text-align: center;
    font-size: 12px;
    color: var(--contrast-mid);
  }
}
