.main_layout {
  display: flex;
  flex-direction: column;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.page_content {
  display: flex;
  flex-direction: column;
  right: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .main_layout {
    flex-direction: row;
  }
  .page_content {
    overflow-x: hidden;
    overflow-y: auto;
  }
}