/* Section de bannière */
.section_banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;

  z-index: 4;
}

.banner_cont {
  position: relative;
  margin: 0.5rem;
  width: auto;
  height: 93svh;
  border-radius: 1.5rem;
  overflow: hidden;
}
.banner_cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner_backg {
  background-color: rgba(0, 0, 0, 0.92);
  background-blend-mode: color;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos de contenedor flotante en el banner */
.banner_float_cont {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  z-index: 5;
}
.banner_float_cont img:nth-child(1) {
  width: 2rem;
  height: 2rem;
}
.banner_float_cont h1 {
  width: auto;
  max-width: 35rem;
  font-family: "Pacifico", cursive;
  color: rgba(255, 255, 255, 0.92);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 1rem;
}
.banner_float_cont p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.72);
  font-size: 16px;
  text-align: center;
  margin: 0 1rem 2rem 1rem;
  width: auto;
  max-width: 30rem;
}

.btn_discover {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: max-content;
  height: 2.5rem;
  background-color: var(--cl-main);
  color: var(--background-main);
  font-size: 16px;
  font-weight: 500;
  border-radius: 1rem;
}

/* Responsive */
@media (min-width: 650px) {
  .banner_float_cont h1 {
    font-size: 68px;
    line-height: 68px;
  }
}

@media (min-width: 800px) {
  .section_banner {
    min-height: 100vh;
  }
  .banner_cont {
    height: 100%;
  }
}